[submodule "stablemod-bootloader-data"]
	path = stablemod-bootloader-data
	url = git@gitlab.com:stablemod/stablemod-bootloader-data.git
[submodule "stablemod-bootloader"]
	path = stablemod-bootloader
	url = git@gitlab.com:stablemod/stablemod-bootloader.git
[submodule "stablemod-kernel"]
	path = stablemod-kernel
	url = git@gitlab.com:stablemod/stablemod-kernel.git
[submodule "stablemod-kalloc"]
	path = stablemod-kalloc
	url = git@gitlab.com:stablemod/stablemod-kalloc.git
[submodule "stablemod-kfs"]
	path = stablemod-kfs
	url = git@gitlab.com:stablemod/stablemod-kfs.git
[submodule "stablemod-ipc"]
	path = stablemod-ipc
	url = git@gitlab.com:stablemod/stablemod-ipc.git
[submodule "stablemod-driver-model"]
	path = stablemod-driver-model
	url = git@gitlab.com:stablemod/stablemod-driver-model.git
[submodule "stablemod-driver-test"]
	path = stablemod-driver-test
	url = git@gitlab.com:stablemod/stablemod-driver-test.git
[submodule "stablemod-vm"]
	path = stablemod-vm
	url = git@gitlab.com:stablemod/stablemod-vm.git
[submodule "stablemod-config"]
	path = stablemod-config
	url = git@gitlab.com:stablemod/stablemod-config.git
[submodule "stablemod-acpi"]
	path = stablemod-acpi
	url = git@gitlab.com:stablemod/stablemod-acpi.git
[submodule "stablemod-pci"]
	path = stablemod-pci
	url = git@gitlab.com:stablemod/stablemod-pci.git
[submodule "stablemod-sched"]
	path = stablemod-sched
	url = git@gitlab.com:stablemod/stablemod-sched.git
[submodule "stablemod-log"]
	path = stablemod-log
	url = git@gitlab.com:stablemod/stablemod-log.git
